<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
    <title>FrontEndTask</title>
  </head>
<body>
	<dir class='input'>
		<button onclick="add_dir()">Add Dir</button>
		<button onclick="del()">Delete</button>
		<button onclick="go()">Go To</button>
		<br>
		<input type ='text' id="n"/>
	</dir>
    <ul name = 'dir_list'>
		<button onclick="back()">Back to root</button>
    </ul>
    <script>
	var cur_path = '';
	var coun = 0;
	
	function del(){
		var input = document.getElementById("n").value;
		var request = new XMLHttpRequest();
		var body = 'req_path=' + input;
		request.open('DELETE','/del', false);
		request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		request.send(body);
		dir_list_request(cur_path);
	}
	
	function add_dir(){
		var input = document.getElementById("n").value;
		var request = new XMLHttpRequest();
		var body = 'new_dir=' + input;
		request.open('POST','/add_dir', false);
		request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		request.send(body);
		dir_list_request(cur_path);
	}
	
	function go(){
		var input = document.getElementById("n").value;
		dir_list_request(input);
	}
	
	function back(){
		coun = 0;
		cur_path = '';
		dir_list_request('');
	}
	
	function dir_list(respons)
	{
		shobi_chisto_bilo()
		var dir_list = document.getElementsByName('dir_list')[0];
        for (let i =0; i<respons.length; i++)
        {
            var el = document.createElement('li');
            el.innerText =cur_path + respons[i];
			dir_list.appendChild(el);
        }
	}
	
	function dir_list_request(path){
		var request = new XMLHttpRequest();
		if(coun != 0)
			cur_path = path + '\\'
		request.open('GET','/dir_list?path=' + path, false);
		request.send();
		var respons = JSON.parse(request.responseText);
		dir_list(respons);
		coun = 1;
	}
	
	function shobi_chisto_bilo(){
		var cl = document.getElementsByTagName('li');
			var len = cl.length;
			for (let i = 0; i<len; i++ )
			cl[len-1-i].remove();
	}
	dir_list_request('');
    </script>
  </body>
</html>